<%= render 'navbar' %>
<section class="works scroll" id="works">
	<div class="container">
    <h1 class="header text-center"><span>Portfolio</span></h1>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="block wow rotateInDownLeft" data-wow-delay="0.3s" data-wow-duration=".8s">
          <div class="works-thumb work-card" style=" background-image: url(<%= image_path('bookarts.jpeg') %>);"></div>
          <div class="works-caption">
            <%= link_to bookarts_path do %>
            BookArts
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="block wow rotateInDownLeft" data-wow-delay="0.45s" data-wow-duration=".8s">
          <div class="works-thumb work-card" style=" background-image: url(<%= image_path('video.gif') %>);"></div>
          <div class="works-caption">
            <%= link_to watchlist_path do %>
            Watch List
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="block wow rotateInDownLeft" data-wow-delay="0.45s" data-wow-duration=".8s">
          <div class="works-thumb work-card" style=" background-image: url(<%= image_path('galata.png') %>);"></div>
          <div class="works-caption">
            <%= link_to galata_path do %>
            Galata
            <% end %>
          </div>
        </div>
      </div>
 </div>
</div>
</section>

